AZURE_OPENAI_ENDPOINT = ""
AZURE_OPENAI_DEPLOYMENT_NAME = ""
OPENAI_API_VERSION = ""
EMBEDDING_DEPLOYMENT_NAME=""
EMBEDDING_API_VERSION=""
AZURE_OPENAI_API_KEY = ""
DB_USER = ""
DB_PASS = ""
AWS_ACCESS_KEY = ""
AWS_SECRET_KEY = ""
AWS_MODEL_ID = ""
AWS_REGION = ""
MODEL_PROVIDER = ""
